
<!--   Body of index -->

<div class="container">
     <div class="row">
          <div class="col-md-12">
               <div class="jumbotron">
                    <h1 class="display-4">Tokri Bazar !</h1>
                    <p class="lead">A cart Solution for Everyone Add Unlimited to CART</p>
                    <hr class="my-4">
                    <a class="btn btn-primary btn-lg" href="#" role="button">Sign-off</a>
               </div>
          </div>
     </div>
     <div class="row">
          <div class="col-md-2">fsdf</div>
          <div class="col-md-8">asdsad</div>
          <div class="col-md-2">AFDSGD  </div>
     </div>
</div>