<nav class="navbar navbar-expand-lg navbar-light bg-light">
     <a class="navbar-brand" routerLink="/index" (click)="notadminempMethod()">Tokri Bazar</a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
     </button>

     <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
               <li class="nav-item active">
                    <a class="nav-link" routerLink="/index" (click)="notadminempMethod()">Home <span
                              class="sr-only">(current)</span></a>
               </li>
               <!--               <li class="nav-item">
                     <a class="nav-link" href="#">Link</a>
                   </li> 
     -->
               <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Controller
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                         <a class="dropdown-item" routerLink="/admin" (click)="adminMethod()">Admin</a>
                         <div class="dropdown-divider"></div>
                         <a class="dropdown-item" routerLink="/employee" (click)="employeeMethod()">Employee</a>
                    </div>
               </li>
          </ul>

          <ul class="navbar-nav">
               <li class="nav-item dropdown mr-2">
                    <!-- Example split danger button -->
                    <div class="btn-group">
                         <button type="button" class="btn btn-sm">
                              <i class="material-icons">shopping_cart</i>
                         </button>
                         <button type="button" class="btn btn-sm dropdown-toggle dropdown-toggle-split"
                              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="sr-only">Toggle Dropdown</span>
                         </button>
                         <div class="dropdown-menu dropdown-menu-right  shadow">
                              <form>
                                   <div class="cart-style bg-light">
                                        <h1 class="display-5 text-center">Hi :) <br>Add more to your
                                             <i class="material-icons md-72">
                                                  shopping_cart
                                             </i>
                                        </h1>
                                        <table class="table">
                                             <thead class="thead-dark">
                                                  <tr>
                                                       <th scope="col">#</th>
                                                       <th scope="col">Image</th>
                                                       <th scope="col">Product name</th>
                                                       <th scope="col">Base price</th>
                                                       <th scope="col">No of product</th>
                                                       <th scope="col">Final Price</th>
                                                       <th scope="col"></th>
                                                  </tr>
                                             </thead>
                                             <tbody class="mt-3">
                                                  <tr class="bg-white text-dark shadow-sm mb-1" *ngFor="let cartitem of cartNevbar" >
                                                       <th scope="row">{{cartitem.id}}</th>
                                                       <td>{{cartitem.thumbnail}}</td>
                                                       <td>{{cartitem.name}}</td>
                                                       <td>{{cartitem.price}}</td>
                                                       <td>
                                                            <button type="button" class="btn-sm btn-style"
                                                                 (click)="itemCountNegative(cartitem.count)">
                                                                 <i class="material-icons"> remove_circle_outline </i>
                                                            </button>
                                                            {{ cartitem.count }}
                                                            <button type="button" class=" btn-sm btn-style"
                                                                 (click)="itemCountPositive(cartitem.count)">
                                                                 <i class="material-icons"> add_circle_outline </i>
                                                            </button>
                                                       </td>
                                                       <td>{{ cartitem.price * cartitem.count }}  /-</td>
                                                       <td class="text-danger"><a href="" class="text-danger"
                                                                 (click)="removeAnItem()">remove</a> </td>
                                                  </tr>
                                             </tbody>
                                        </table>

                                   </div>
                              </form>
                         </div>
                    </div>
               </li>
               <li class="nav-item dropdown" *ngIf="!admin && !employee">
                    <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" id="navbarDropdown"
                         role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         User Name
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                         <a class="dropdown-item" href="#">Action</a>
                         <a class="dropdown-item" href="#">Another action</a>
                         <div class="dropdown-divider"></div>
                         <a class="dropdown-item" href="#">Logout</a>
                    </div>
               </li>
          </ul>

     </div>
</nav>