.cart-style {
     width: 50em;
     min-height: 30em;
     padding: 2em 3em 2em 3em;
}
.material-icons.md-72 { font-size: 45px; }
.btn-style{
     outline: none;
     border : none;
     background: none;
     position: relative;
}
.checkout-proc > tr >td{
     padding: 0px;
}